// Custom styles.
 * {
      cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
  }
  :active {
      cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
  }
// Custom styles. //首页文章阴影样式
 .post {
 margin-top: 60px;
 margin-bottom: 60px;
 padding: 25px;
 -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
 -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
 }
 //热评文章 
 .ds-top-threads li a { 
 padding-left: 5px; 
 transition: border-width 0.2s linear 0s, color 0.2s linear 0s; 
 border-bottom: none;
 } 
 .ds-top-threads li a:hover { 
 border-left: 8px solid #4d768c; 
 } 
 //首页头部样式 

 //首页尾部样式 
 .footer { 
 background: none;
 font-size: 16px;
 } 
 .footer-inner { 
 font-family: 
 'Comic Sans MS', sans-serif; text-align:
 center; color: #4c618f;
 } 
 //侧边栏信息样式修改 
 .site-author-name { 
 margin: 48px 0 0; 
 color: #000; 
 font-family: 'Comic Sans MS', sans-serif;
 } 
 .links-of-blogroll { 
 font-size: 14px;
 margin-bottom: 30px;
 } 
 .links-of-author { 
 margin-top: 30px; 
 margin-bottom: 30px; 
 } 
 .sidebar-inner { 
 color: #1e90ff;
 } 
 .sidebar { 
 box-shadow: inset 2px 2px 40px #bdb2b2;
 } 
 .sidebar a { 
 color: #649ab6;
 border-bottom-color: #649ab6; 
 border-bottom: none;
 } 
 .sidebar a:hover { 
 color: #0c0b0b;
 } 
 .site-state-item { 
 display: inline-block;
 padding: 4px 8px;
 border-left: 1px solid #649ab6; 
 } 
 .sidebar-nav .sidebar-nav-active { 
 color: #649ab6; 
 border-bottom-color: #649ab6; 
 } 
 .sidebar-nav li:hover { 
 color: #0c0b0b; 
 } 
 侧栏按钮样式 
 .sidebar-toggle { 
 background: #649ab6; 
 } 
 
 //文章目录样式 
 .post-toc .nav .active>a { 
 color: #4f7e96; 
 } 
 .post-toc ol a:hover { 
 color: #7784ba; 
 } 
 .sidebar-nav .sidebar-nav-active:hover { 
 color: #37596c; 
 } 
 a { 
 border-bottom: none; 
 } 
 //首页阅读全文样式 
 .post-button { 
 margin-top: 30px; 
 text-align: center; 
 } 
 .post-button .btn { 
 color: #fff; 
 font-size: 15px;
 background: #686868;
 border-radius: 16px;
 line-height: 2;
 margin: 0 4px 8px 4px; 
 padding: 0 20px;
 } 
 .post-button a{ 
 border-bottom: 1px solid #666; 
 } 
 .post-button a:hover { 
 color: #7784ba; 
 }
#feedAv{ margin-top: -250px!important;transform: scale(0);}